# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Python virtual environment
venv/
env/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Output files
outputs/

# Temporary files
*.log